popup-confirm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}
popup-confirm .base {
  position: relative;
  margin: 5vh 5vw;
  background-color: white;
  width: 80vw;
  padding: 5vh 5vw;
  text-align: center;
  overflow: scroll;
  font-size: 140%;
  border-radius: .2em;
}
popup-confirm .message {
  padding: 1em;
}
popup-confirm button {
  font-size: 70%;
  padding: .5em 1em;
}
popup-confirm .btns {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5em;
}